 .abaut,.servises{
     padding: 200px 0;
     background-image: url(https://osten.vercel.app/images/index/about.jpg);
     background-attachment: fixed;
     background-repeat: no-repeat;
     color: #fff;
  }